﻿@model IEnumerable<prj_Practice_UserConnect.Models.UDViewModel>

@{
    ViewBag.Title = "IndexVM1";
}

<h2>IndexVM1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th></th>
    </tr>

    @foreach (var itemD in Model)
    {
        <tr>
            <th>
                科系:(@Html.Label(itemD.DVM.DepartmentId.ToString())) <br />
                @Html.DisplayFor(item => itemD.DVM.DepartmentName)<br />
            </th>
        </tr>
        <tr>
            <td bgcolor="pink">
                @foreach (var itemU in itemD.UVM)
                {
                    @itemU.UserName

                    @Html.Label(itemU.DepartmentId.ToString())<br />
                }
            </td>
        </tr>
    }

</table>
