﻿@model prj_Practice_UserConnect.Models.UDmultiViewModel

@{
    ViewBag.Title = "IndexVM2";
}

<h2>IndexVM2</h2>


<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.DVM)
    {
        <tr>
            <td bgcolor="pink">
                <br />
                @Html.Label(item.DepartmentId.ToString()) *** @Html.Label(item.DepartmentName)
                <hr /><br />
            </td>
        </tr>
        <tr>
            <td>
                @foreach (var item2 in Model.UVM.Where(x => x.DepartmentId == item.DepartmentId))
                {
                    @: 科系ID -
                    @Html.Label(item2.DepartmentId.ToString())
                    @: -------
                    @item2.UserName
                    <br />
                }
            </td>
        </tr>
    }

</table>
