﻿@model IEnumerable<prj_Practice_UserConnect.Models.UserDepartmentViewModel>

@{
    ViewBag.Title = "IndexJOINDetails";
}

<h2>IndexJOINDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th><i>DepartmentId</i></th>
        <th><i>DepartmentName</i></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DepartmentVM.DepartmentId
            </td>
            <td>
                @item.DepartmentVM.DepartmentName
            </td>
        </tr>
        break;
    }
    <br />
    <hr />
    <br />
</table>
<h4>明細（Details） -- 這個科系有哪些學生？</h4>
<table border="1">
    <tr>
        <th>UserId</th>
        <th>UserName</th>
        <th><font color="red">DepartmentId</font></th>
        <th><font color="red">DepartmentName</font></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UserVM.UserId
            </td>
            <td>
                @item.UserVM.UserName
            </td>
            <td>
                @item.UserVM.DepartmentId
            </td>
            <td>
                @item.DepartmentVM.DepartmentName
            </td>
        </tr>
    }
</table>



