﻿@model IEnumerable<prj_Practice_UserConnect.Models.UserTable2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentTable2.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserMobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserApproved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentTable2.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserBirthDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserMobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserApproved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
