﻿@model Prj_WebService.ModelsWebService.WS_Class2_WebService

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>WS3_Jquery</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#NumberA').change(function () {
                var A = $(this).val();
                $.ajax({
                    type: 'get',
                    url: "/WebService/Default_jQuery_test.aspx",
                    data: 'A=' + A + '&B=您好，HelloTheWorld，大家好',     // 傳遞到另一個網頁的QueryString
                    contentType: "application/text; charset=utf-8",
                    dataType: "text",

                    success: function (returnString) {
                        $('#NumberB')[0].value = returnString;
                    },
                    error: function () {
                        alert('例外狀況!');
                    }
                })
            });
        });
    </script>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <h4>WS_Class2_WebService......搭配.aspx網頁，稍微有點問題</h4>......Client端，透過jQuery呼叫對方，所以沒有後置程式碼
    <hr />

    請輸入您的名字：
    <br />（填寫後，滑鼠指標離開，點擊下面的，就會自動觸發NumB）

    @Html.EditorFor(model => model.NumberA, new { htmlAttributes = new { @class = "form-control" } })

    <br /><hr /><br />
    jQuery運作後的結果：
    @Html.EditorFor(model => model.NumberB, new { htmlAttributes = new { @class = "form-control", style = "height:200px;width:640px;", rows = "2", cols = "20" } })
</body>
</html>
