﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_RWD_Carousel3</title>

    <link href="https://bootstrap.hexschool.com/docs/4.2/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://bootstrap.hexschool.com/docs/4.2/examples/carousel/carousel.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- 沒有加入這一段，圖片不會自動縮放 -->
    <style>
        /* Make the image fully responsive */
        /* 沒有加入這一段，圖片不會自動縮放。詳見  https://www.w3schools.com/bootstrap4/bootstrap_carousel.asp  */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>
    *** 動態投影片(Carousel)樣版 的 頁面中央，有三個圖片與介紹 ***<br />
    https://getbootstrap.com/docs/4.1/examples/carousel/  <br />
    <hr /><br />

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">

                <!-- ******************* -->
                <img class="rounded-circle" src="/Images_Book/20138129358921.JPG">

                <h2>Heading（圖一）</h2>
                <p>111 - Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">

                <!-- ******************* -->
                <img class="rounded-circle" src="/Images_Book/201381293748359.JPG">

                <h2>Heading（圖二）</h2>
                <p>222 - Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">

                <!-- ******************* -->
                <img class="rounded-circle" src="/Images_Book/201381293823656.jpg">

                <h2>Heading（圖三）</h2>
                <p>333 - Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->



        <br /><hr />
        <!-- ***************************************************** -->
        *** 動態投影片(Carousel)樣版 的 下方，左右各有一張大圖片 ***<br />
        https://getbootstrap.com/docs/4.1/examples/carousel/  <br />



        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead"> (動態投影片(Carousel)樣版 的 下方) Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">

                <!-- ******************* -->
                <img class="featurette-image img-fluid mx-auto"
                     src="/Images_Book/500x500.jpg"
                     data-src="holder.js/500x500/auto" alt="Generic placeholder image">

            </div>
        </div>


    </div>
</body>
</html>
