﻿@model IEnumerable<jQuweryUI_RWD.Models.Class1>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_Accordion</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/resources/demos/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://code.jquery.com/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>



    <div id="accordion">
        @foreach (var itme in Model)
        {
            <h3>文章內容 ---  @itme.MyID  </h3>
            <div>
                <p>
                    文章內容: <br />
                    @itme.MyName
                </p>
            </div>
        }
    </div>

    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyDropDownList)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyBirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyDropDownList)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</body>
</html>
