﻿@model IEnumerable<jQuweryUI_RWD.Models.Class1>

@{
    ViewBag.Title = "Index_RWD_MvcDeflult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index_RWD_MvcDeflult</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyBirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyDropDownList)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyBirthDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyDropDownList)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
