﻿@model IEnumerable<jQuweryUI_RWD.Models.Class1>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List_fancyBox3</title>
    <!-- ***********************************************************************(start)   -->
    <!-- Add jQuery library (重點！！！) -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <!--  請自己動手修改路徑！！
        *** 原廠範例是錯的***   請自己下載後，找出每一個檔案的路徑（目錄、資料夾） -->
    <link rel="stylesheet" href="~/fancybox-master/dist/jquery.fancybox.min.css" />
    <script src="~/fancybox-master/dist/jquery.fancybox.min.js"></script>


    <!-- ***********************************************************************(end)   -->
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyDropDownList)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyBirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyDropDownList)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                <td>
                    <!-- 照片 -->

                    <a data-fancybox="gallery" href="http://farm2.staticflickr.com/1459/23610702803_83655c7c56_b.jpg">
                        <img src="http://farm2.staticflickr.com/1459/23610702803_83655c7c56_m.jpg" />
                    </a>

                <td></td>
            </tr>

        }


    </table>

    <hr /><br /><br />
    第一種作法 (data-fancybox="images") <br /><br />
    <a class="d-block mb-4" data-fancybox="images" href="https://source.unsplash.com/i-FqQIkJMqg/1536x2304" data-width="1536"
       data-height="2304">
        <img class="img-fluid" src="https://source.unsplash.com/i-FqQIkJMqg/416x623" />
    </a>

    <a class="d-block mb-4" data-fancybox="images" href="https://source.unsplash.com/EMSDtjVHdQ8/1279x853" data-width="1279"
       data-height="853">
        <img class="img-fluid" src="https://source.unsplash.com/EMSDtjVHdQ8/416x278" />
    </a>

    <hr /><br /><br />

    第二種作法 (data-fancybox) <br /><br />
    <a href="https://source.unsplash.com/RF5sv5dv1Zc/1500x1000" data-fancybox>
        <img src="https://source.unsplash.com/RF5sv5dv1Zc/240x160" />
    </a>

    <a href="https://source.unsplash.com/Sj5efgWguDs/1500x1000" data-fancybox>
        <img src="https://source.unsplash.com/Sj5efgWguDs/240x160" />
    </a>

</body>
</html>
