﻿@model prj_Practice_FileUpload.Models.FileUpload_DB

@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <!-- 重點！！這裡需要動手修改！！ -->
    <!-- ************************************************************************************************************** -->
    <!--                                        動作 ,      控制器  -->
    @using (Html.BeginForm("Create_ReName", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>FileUpload_DB</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FileUpload_time, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileUpload_time, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FileUpload_time, "", new { @class = "text-danger" })
                    <br /><br />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FileUpload_FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*  @Html.EditorFor(model => model.FileUpload_FileName, new { htmlAttributes = new { @class = "form-control" } })
                    *@
                    <br /><br />

                    <!-- ******************************************************************** -->
                    <i>因為 FileUpload_DB只存放「上傳檔名（字串）」，所以這裡需要手動改成 "檔案上傳"的表單元件 type="file"</i><br />
                    <input type="file" id="FileUpload_FileName" name="FileUpload_FileName" />
                    <!--                                                                   ********** 重點！！ ***********  -->
                    <!-- 或是寫成 -->
                    @*  @Html.TextBox("FileUpload_FileName", "", new { type = "file" })
                    *@
                    <!-- ******************************************************************** -->


                    @Html.ValidationMessageFor(model => model.FileUpload_FileName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br /><br />
                    <br /><br />
                    <input type="submit" value="Create（新增與檔案上傳，搭配 FileUpload_DB資料表）" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
