﻿@model prj_Practice_User.Models.User

@{
    ViewBag.Title = "Create";
}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<h2>Create</h2>


@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" >
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" id="showBlock">
        @*<label class="control-label col-md-2" for="Name">Name</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-length="欄位 Name 必須是最大長度為 10 的字串。" data-val-length-max="10" id="Name" name="Name" type="text" value="" required="required">
            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>*@
        <div class="row" id="div1">
            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-4">
                <input class="form-control text-box single-line" data-val="true" data-val-length="欄位 Name 必須是最大長度為 10 的字串。" data-val-length-max="10" id="Name" name="Name" type="text" value="" required="required">
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
            <div class="col-md-6">
                <input type="button" value="del" onclick="deltxt(txtId)">
            </div>
        </div>        
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-danger" id="btn" type="button">ADD</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
        var txtId = 1;
        $("#btn").click(function () {
            
            //$("#showBlock").append('<div id="div' + txtId + '">Input:<input type="text" name="test[]" /> <input type="button" value="del" onclick="deltxt(' + txtId + ')"></div>');
            $("#showBlock").append(
                                                '<div class="row" id="div' + txtId + '">'+
                                                        '<label class="control-label col-md-2" for="Name">Name</label>' +
                                                        '<div class="col-md-4">' +                                                          
                                                                '<input class="form-control text-box single-line" data-val="true" data-val-length="欄位 Name 必須是最大長度為 10 的字串。" data-val-length-max="10" id="Name" name="Name" type="text" value="" required="required">'+
                                                                '<span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>'+
                                                        '</div>' +
                                                       '<div class="col-md-6">' +
                                                             '<input type="button" value="del" onclick="deltxt(' + txtId + ')">'+
                                                       '</div>' +
                                                 '</div>'
                                                       );           
            txtId++;
        });
        //remove div
    function deltxt(id) {     
        $("#div" + id).remove();
    }

    </script>
}
