﻿@model prj_Practice_User.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>     <!--屬性名稱-->
            @Html.DisplayNameFor(m => m.Name)
        </dt>

        <dd>    <!--屬性的值-->
            @Html.DisplayFor(m => m.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.Number)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
