﻿@model prj_Practice_User.Models.UserTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>UserTable</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(m => m.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.UserSex)
            </dt>

            <dd>
                @Html.DisplayFor(m => m.UserSex)
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.UserBirthDay)
            </dt>

            <dd>
                @Html.DisplayFor(m => m.UserBirthDay)
            </dd>
            <dd>
                @Html.Label("使用者者生日:")
                <br />
                @Html.DisplayFor(m => m.UserBirthDay, "{0:yyyy/mm/dd}")
                <br />
                @Convert.ToDateTime(Model.UserBirthDay).ToShortDateString()
                <br />
                @Convert.ToDateTime(Model.UserBirthDay).ToLongDateString()
            </dd>

            <dt>
                @Html.DisplayNameFor(m => m.UserMobilePhone)
            </dt>

            <dd>
                @Html.DisplayFor(m => m.UserMobilePhone)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("編輯", "Edit", new { id = Model.UserId }) |
        @Html.ActionLink("Back to List", "List")
    </p>
</body>
</html>
