﻿@model IEnumerable<prj_Practice_User.Models.UserTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.UserSex)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.UserBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.UserMobilePhone)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMobilePhone)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id=item.UserId }) |
                @Html.ActionLink("查閱", "Details", new { id=item.UserId }) |
                @Html.ActionLink("刪除", "Delete", new { id=item.UserId })

            </td>
        </tr>
    }
    
    </table>
</body>
</html>
