﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default_jQuery_test.aspx.cs" Inherits="Prj_WebService.WebService.Default_jQuery_test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>搭配 Default_jQuery.aspx的程式，負責傳回值   (jQuery來呼叫這支程式)</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h3>搭配 Default_jQuery.aspx的程式，負責傳回值   (jQuery來呼叫這支程式)</h3>
            <br />
            請看  後置程式碼！！
        </div>
    </form>
</body>
</html>
