﻿@model prj_Practice_NorthWind.Models.Employee

@{
    ViewBag.Title = "EmployeeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .question-text, .title-text, .department-text, .position-text {
        display: none;
    }

    .minus-icon {
        display: none;
    }
    /* 顯示回答區域*/
    .show-text .question-text {
        display: block;
    }
    /* 顯示關閉按鈕*/
    .show-text .minus-icon {
        display: inline;
    }
    /* 隱藏開啟按鈕*/
    .show-text .plus-icon {
        display: none;
    }
</style>

<h2>EmployeeView</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleOfCourtesy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleOfCourtesy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportsTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportsTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>

    </dl>
</div>
<div>
    <h4>詳細資料</h4>
    <hr />
    @foreach (prj_Practice_NorthWind.Models.EmployeeInformation item in ViewBag.employeesInfoData)
    {
        <div id="employeesInfoData" class="dl-horizontal" data-obj="@item.JsonObject">
            <div>
                @Html.DisplayNameFor(model => model.LastName) :
                @Html.DisplayFor(model => model.LastName)
            </div>

            <article class="question">
                <!-- 問題區域 -->
                <div class="question-title">
                    <span>詳細內容</span>
                    <!-- 按鈕 -->
                    <button type="button" class="question-btn">
                        <!-- 開啟按鈕 -->
                        <span class="plus-icon">
                            <i class="far fa-plus-square"></i>
                            <!-- 關閉按鈕 -->
                        </span>
                        <span class="minus-icon">
                            <i class="far fa-minus-square"></i>
                        </span>
                    </button>
                </div>

                <!-- 回答區域 -->
                <div class="question-text">

                </div>

            </article>


        </div>
    }
</div>

<p>
    @Html.ActionLink("Edit", "EmployeeEdit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "EmployeeIndex")
</p>

@section scripts{
    <script>
        $(function () {
            const questions = document.querySelectorAll('.question');
            questions.forEach(function (question) { //選擇每個QA方格
                const question_btn = question.querySelector('.question-btn'); //篩選出該QA方格的按鈕元素
                question_btn.addEventListener('click', function () { //只要該QA方格的按鈕元素有點擊事件
                    question.classList.toggle("show-text"); //就在<article class="question">新增/刪除"show-text"的Class
                });               
            });


            initData($('#employeesInfoData').data('obj'));

            function initData(data) {
                var $questionContent = $('.question-text');
                var content = ` <div class="titleName"> ${data.TitleName.trim()}                                  
                                    <div class="title-text">
                                            TitleContentId: ${data.TitleContentId}
                                    </div>
                                </div>
                                <div class="departmentName"> ${data.DepartmentName.trim()}
                                   
                                    <div class="department-text">
                                        DepartmentContentId: ${data.DepartmentContentId}
                                    </div>
                                </div>
                                <div class="positionName"> ${data.PositionName.trim()}
                                        
                                        <div class="position-text">
                                        PositionContentId: ${data.PositionContentId}
                                        </div>
                                </div>`;

                $questionContent.append(content);
                appendBtn("titleName-btn", $('.title-text'));
                appendBtn("departmentName-btn", $('.department-text'));
                appendBtn("positionName-btn", $('.position-text'));

                function appendBtn(btnName, appendTarget) {
                    var btn = `<button type="button" class="${btnName}">
                                    <span class="plus-icon">
                                        <i class="far fa-plus-square"></i>
                                    </span>
                                    <span class="minus-icon">
                                        <i class="far fa-minus-square"></i>
                                    </span>
                                </button>`
                    appendTarget.before(btn);
                }
            }

            $('.titleName-btn').on("click", function () { //只要該QA方格的按鈕元素有點擊事件
                $('.title-text').toggle("show-text"); //就在<article class="question">新增/刪除"show-text"的Class
            });

            $('.departmentName-btn').on("click", function () { //只要該QA方格的按鈕元素有點擊事件
                $('.department-text').toggle("show-text"); //就在<article class="question">新增/刪除"show-text"的Class
            });

            $('.positionName-btn').on("click", function () { //只要該QA方格的按鈕元素有點擊事件
                $('.position-text').toggle("show-text"); //就在<article class="question">新增/刪除"show-text"的Class
            }); 

        });
    </script>
}