﻿@model IEnumerable<prj_Practice_NorthWind.Models.Employee>

@{
    ViewBag.Title = "EmployeeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmployeeIndex</h2>

<p>
    @Html.ActionLink("Create New", "EmployeeCreate")
</p>
<p>
    <button class="btn-primary" id="exportBtn">ExportWord</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Address)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.City)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.HomePhone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td class="form-inline">
                @Html.ActionLink("Edit", "EmployeeEdit", new { id = item.EmployeeID }) | @Html.ActionLink("View", "EmployeeView", new { id = item.EmployeeID })
                <button type="button" class="btn-primary edit-modal" data-target="#newEmployeeModal" data-obj="@item.EmployeeID">EditModal</button>
                @*@Html.ActionLink("Details", "NorthwindController", new { id = item.EmployeeID })*@

                @using (@Html.BeginForm("EmployeeDelete", "Northwind", FormMethod.Post, new { @class = "Delete", id = item.EmployeeID }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", item.EmployeeID)
                    <input type="submit" value="刪除" class="btn" />
                }
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="newEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Address</h4>
            </div>
            <div class="modal-body">
                <h2>Employee</h2>
                <div>
                    <label>LastName</label>
                    <input id="LastNameId" type="text" readonly="readonly" />
                </div>
                <div>
                    <label>FirstName</label>
                    <input id="FirstNameName" type="text" readonly="readonly" />
                </div>
                <div>
                    <label>Address</label>
                    <input id="AddressName" type="text" readonly="readonly" />
                </div>
                <div>
                    <label>City</label>
                    <input id="CityName" type="text" readonly="readonly" />
                </div>
                <div class="CheckBoxLabel">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="add" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('.edit-modal').click(function () {
                var quoteid = $(this).attr("data-obj");

                $.ajax({
                    type: "POST",
                    url: '/Northwind/GetServiceQuote',
                    data: { "id": quoteid },
                    datatype: "json",
                    success: function (data) {
                        var listHtml = '';
                        var listHtmlLabel = '';
                        var resHTNL = '';
                        var reslabel = data.EmployeeCheckboxLabel;
                        var res = data.MyCheckBox.EmplyeeCheckbox;
                        var cnam = data;

                        //alert(data.CustomerName);
                        //$('#ServiceVM_CustomerName').val(data.CustomerName);
                        $('#LastNameId').val(cnam.LastName);
                        $('#FirstNameName').val(cnam.FirstName);
                        $('#AddressName').val(cnam.Address);
                        $('#CityName').val(cnam.City);
                        $.each(reslabel, function (i) {
                            if (reslabel[i] != "") {
                                listHtmlLabel = " <label id='checkbox" + i + "'>" + reslabel[i] + "</label>";
                                $.each(res, function (t) {
                                    if (res[t].CheckboxName != "") {
                                        listHtml += " <input type='checkbox' " + " name='" + res[t].CheckboxName + "' id='" + res[t].Checkboxid + "' value='" + res[t].Checkboxid + "'>" + res[t].CheckboxName;
                                    }
                                });
                                resHTNL += listHtmlLabel + listHtml;
                                //var resHTNL = listHtmlLabel + listHtml;
                            }


                            //$('#checkbox' + i).append(listHtml);
                        });
                        $(".CheckBoxLabel").html(resHTNL);

                        //$.each(res, function (i) {
                        //    if (res[i].CheckboxName != "") {
                        //        listHtml += " <input type='checkbox' " + " name='" + res[i].CheckboxName + "' id='" + res[i].Checkboxid + "' value='" + res[i].Checkboxid + "'>" + res[i].CheckboxName;
                        //    }
                        //    $('#CheckBox').html(listHtml);
                        //});


                        //$("#ServiceVM_MachineState").innerHTML(data.MachineState);
                        //document.getElementsByName("ServiceVM_MachineZip").value = data.MachineZip;
                        //$('#modalInnerSQ').modal('show');
                        $('#newEmployeeModal').modal();
                    }
                });


            });

            $('#exportBtn').click(exportWord);

            function exportWord() {
                $.ajax({
                    type: "POST",
                    url: '/Northwind/ExportWord',
                    // data: { "id": quoteid },
                    datatype: "json",
                    success: function (data) {
                        //var response = JSON.parse(data);
                        window.location = '/Northwind/Download?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                        //window.open('/Northwind/Download?fileGuid=' + data.FileGuid +'&filename=' + data.FileName);
                    }
                })
            }

        });

        $('form.Delete').submit(function () {
            var msg = "您真的確定要刪除嗎？\n\n請確認！"
            if (confirm(msg) == false) {
                return false;
            }
        });

    </script>
}
