﻿@model IEnumerable<prj_Practice_NorthWind.Models.OrderDetails_OrdersViewModel>

@{
    ViewBag.Title = "IndexJoin";
}

<h2>IndexJoin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>顧客ID</th>
        <th>訂單編號</th>
        <th>產品編號</th>
        <th>單位售價</th>
        <th>訂單數量</th>
        <th>折扣</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Order.CustomerID
            </td>
            <td>
                @item.OrderDetails.OrderID
            </td>
            <td>
                @item.OrderDetails.ProductID
            </td>
            <td>
                @item.OrderDetails.UnitPrice
            </td>
            <td>
                @item.OrderDetails.Quantity
            </td>
            <td>
                @item.OrderDetails.Discount
            </td>
        </tr>
    }

</table>
