﻿@model IEnumerable<prj_Practice_NorthWind.Models.Order_OrederDetialsListViewModel>

@{
    ViewBag.Title = "IndexVM";
}

<h2>IndexVM</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.order.Customers.CustomerID
                @item.order.Employees.FirstName
            </td>
        </tr>
        <tr bgcolor="pink">
            <td>
                @foreach (var od in item.order_details)
                {
                    @:訂單ID :
                    @od.OrderID <br /><br />
                    @:產品名稱 :
                    @od.Products.ProductName <br /><br />
                    @:產品單價 :
                    @od.UnitPrice <br /><br />
                    @:產品數量 :
                    @od.Quantity <br /><br />
                    @:產品折扣 :
                    @od.Discount <br /><br />

                }
            </td>
        </tr>
    }

</table>

<div class="card">
    <h5 class="card-header">武器諸元</h5>
    <div class="card-body">
        @Html.DropDownList("property", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { id = "equipmentProperty", @style = "background-color:yellow" })
        <div id="equipmentPropertyVallueContainer">


        </div>
        <div>
            <a id="addProperty" class="btn btn-link m-0" href="#">
            </a>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var existProperties = [];
        $('#addProperty').click(function () {
            var propertyValue = $('#equipmentProperty').val();
            if (propertyValue != ' ') {
                var propertyList = JSON.parse(propertyValue);



            }

            function addPropertyValue(propertyList, propertyValue) {
                if (!existProperties.some(x => x == propertyList.Id)) {
                    existProperties.push(propertyList.Id);
                    var porpertyValueContainer = $('<div class="row"></div>');
                    var propertyValueInput = $('<input name="EquipmentProperty[' + propertyList.Id + '].Value" type="text" class="form-control">');

                    $('<div class="col-4">' + propertyList.Name + '</div>').appendTo(porpertyValueContainer);
                    $('<div class="col-4"></div>').append(propertyValueInput).appendTo(porpertyValueContainer);
                    $('<div class="col-4">' + propertyList.Unit + '</div>').appendTo(porpertyValueContainer);
                }
            }
        });



    </script>
}