﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JavaScript_Test4</title>
</head>
<body>
    <div>
        <h3>JavaScript_Test4</h3>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(function () {
                $.ajax({
                    type: "post",
                    url: "/JavaScript/JavaScriptMessage2"
                });
            });
        </script>
    </div>
</body>
</html>
