﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JavaScript_Test2</title>
</head>
<body>
    @if (TempData["jsMessage"] != null)
    {
        <script type="text/javascript">
            @Html.Raw(TempData["jsMessage"])
        </script>
    }
</body>
</html>
